<h2>Welcome to Share My Bike</h2>

<div>
  <h4>Most popular cities</h4>
  scope method 1
</div>

<p><%= link_to "See all cities", cities_path %></p>

<div>
  <h4>Most popular bicycles</h4>
  scope method 2
</div>
