<h2>Welcome to Biky</h2>

<div>
  <h4>Most popular bicycles</h4>
  <ul>
    <% @most_popu.each do |bicycle| %>
      <li><%= link_to Bicycle.find(bicycle[0]).title, bicycle_path(bicycle[0]) %></li>
    <% end %>
  </ul>
</div>

<div>
  <h4>Latest bicycles</h4>
  <ul>
    <% @latest.each do |bicycle| %>
      <li><%= link_to bicycle.title, bicycle_path(bicycle) %></li>
    <% end %>
  </ul>
</div>
