<div>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Log In", login_path %>
</div>

<div>
  Welcome to Share My Bike
</div>

<div>
  Most popular cities
  scope method 1
</div>

<div>
  Most popular bicycles
  scope method 2
</div>
