<div>
  Size Chart: <br>
  <ul>
    <li>Small: 45-50cm frame - Suits people 1.45-1.60m</li>
    <li>Medium: 50-55cm frame - Suits people 1.60-1.75m</li>
    <li>Large: 55-60cm frame - Suits people 1.75-1.90m</li>
  </ul>
</div>
