<ul>
  <% @bicycles.each do |bicycle| %>
    <li><%= link_to bicycle.title, bicycle_path(bicycle) %></li>
  <% end %>
</ul>

<% if @bicycles.empty? %>
  <p>There are no bicycles listed in <%= @city.name %> yet...</p>
<% end %>

<% if @city %>
  <%= link_to "Back to #{@city.name}", city_path(@city) %>
<% end %>
