<ul>
  <% @countries.each do |country| %>
    <li>
      <%= country.name %>:
        <ul>
          <% country.cities.each do |city| %>
            <li><%= link_to city.name, city_path %></li>
          <% end %>
        </ul>
    </li>
  <% end %>
</ul>
