<h2><%= @city.name %></h2>

<h4>A selection of neighborhoods for your trips</h4>

<ul>
  <% @city.neighborhoods.each do |nghb| %>
    <li><%= link_to nghb.name, city_neighborhood_path(@city, nghb) %></li>
  <% end %>
</ul>

<%= link_to "See all neighborhoods...", city_neighborhoods_path(@city) %>


<h4>A selection of bicycles in the city</h4>

<ul>
  <% @city.bicycles.each do |bicycle| %>
    <li><%= link_to bicycle.title, bicycle_path(bicycle) %></li>
  <% end %>
</ul>
